<div class="layout-container">
  <app-header (manipularMenu)="manipularMenu()"></app-header>

  <div class="content-wrapper">
    <nav class="sidenav" [class.sidenav-open]="menuAberto">
      <div class="sidenav-content">
        <h3>Menu</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Produtos</a></li>
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
    </nav>

    <main class="main-content" [class.main-content-expanded]="!menuAberto">
      <div class="content-inner">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
